*
{
	padding: 0;
	margin: 0;
}
html,body
{
	height: 100%;
	width: 100%;
	color: white;
	overflow: hidden;
}



#back
{
	background-color: #232D3F;
	height: 100%;
	width: 100%;
	position: relative;
	overflow: auto;
	
}




#image
{
/*	background-color: darkred;*/
    background-image:url("palm.jpeg");
	width: 52%;
	height: 68%;
	position: absolute;
	right: 25%;
	bottom: 15%;
    background-size: cover;
   

}
#text1{
   position: absolute;
   font-family:  'Playfair Display', serif;
   bottom: 25%	;
   left: 44%;
   rotate: 90;
   margin: 2px;
   line-height: 36px;
   font-weight: 900;
}



#navbar
{
	height: 60px;

   padding-right: 15px;
	background-color: white;
	padding-top: 10px;
}
a{
	text-decoration: none;
	color: black;
	font-size: 17px;
	font-weight: 800;
	margin-right: 90px;
}

input
{
	color: #192655;

}
button
{
	background-color:#232D3F ;
	color: whitesmoke;
}






#adress
{
	background-color: #552d0b;
	height: 300px;
	position: absolute;
   top: 700px;
   bottom: 15%;
   width: 72%;
	left:10% ;

}


#two
{
	padding: 14px;
}

#education
{
/*	background-color: #dcd2c0;*/
	height: 300px;
	position: absolute;
   top: 1200px;
   bottom: 15%;
   width: 72%;
	left:10% ;
}

#hobbies
{
	background-color: red;
	height: 300px;
	position: absolute;
   top: 1600px;
   bottom: 15%;
	width: 72%;
	left:10% ;
}


#intrest
{
	background-color: black;
	
	height: 300px;
	position: absolute;
   top: 2000px;
   bottom: 15%;
   width: 72%;
	left:10% ;
}


#experience
{
    background-color: green;
	height: 300px;
	position: absolute;
   top: 2400px;
   bottom: 15%;
   width: 72%;
	left:10% ;
}



#footer
{
	background-color: white;
	width: 100%;
	height: 200px;
	position: absolute;
   top: 2700px;

	
}
